<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="Registry1" value=""/>
    <add key="Task1" value=""/>
    <add key="Service1" value=""/>
	<add key="File1" value=""/>
	<add key="File2" value=""/>
	<add key="Process1" value=""/>
  </appSettings>
</configuration>